
section{
    margin-bottom: 50px;
}
.shoe-nav img{
    width:200px;
}
.nike img{
    width:400px;
    
}
.contract-img img{
    width:50px;
    margin-left: 5px;
}
.last-img img{
    width:400px;
    margin-top: 50px;

}
.contract-text{
    margin-right:100px;
}
.con-img{
    margin-top:50px;
}
.card-footer{
    border:none;
    background-color: white;
}
.card{
    border-radius:20px;
    /* margin-left:50px; */
    border:none;
}
.text-muted{
    color:rgb(201, 84, 41) !important;
    font-size: 25px;
    font-weight: 1000;
}
h1{
    font-size:50px;
}